@font-face {
    font-family: Abel;
    src: url(Abel-Regular.ttf);
}
body {
    font-family: Abel;
    margin: 0;
    height: 0;
}
p {
    font-size: 1.5rem;
}
.background {
    background-image: url(Whitebackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    margin: 0;
}
div {
    width: 1200px;
    margin: auto;
    position: relative;
    min-height: 80vh;
}
.div-about {
    width: 1000px;
    text-align: left;
    margin: 10px;
    margin-top: 200px;
}
ul {
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
    overflow: hidden;
    top: 0;
    float: right;
}
li {
    float: right;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.25rem;
}
li a:hover {
    font-size: 1.5rem;
}
.border-left {
    border-left: solid rgb(240, 239, 239);
    height: 20px;
}
.navbar-right {
    float: right;
}
.strong-h1 {
    color: black;
    font-size: 1.75rem;
    float: left;
    margin-top: -20px;
    margin-left: 10px;
}
.h2-right {
    font-size: 2rem;
    border-bottom: solid black;
    margin-left: 330px;
    margin-top: -280px;
}
.h3-right {
    margin-left: 333px;
    margin-top: -10px;
}
.p-right {
    margin-left: 333px;
    margin-top: -10px;
}
.h2-cvk {
    margin-top: 150px;
    font-size: 2rem;
    border-bottom: solid black;
}
.h2-cv {
    font-size: 2rem;
    border-bottom: solid black;
}
.h1-contact {
    text-align: center;
}
footer {
    background-color:  rgb(240, 239, 239);
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    width: auto;
    display: block;
    margin-top: -22px;
}
.h2-about {
    font-size: 6rem;
    color: black;
    margin-left: 250px;
    margin-top: -25px;
}
.p-about {
    font-size: 3rem;
    padding-bottom: 25px;
    color: black;
    margin-top: -50px;
    margin-left: 250px;
}
.p-about2 {
    font-size: 3rem;
    color: black;
    margin-top: 50px;
    margin-left: 250px;
}
.p-about2-small {
    font-size: 1.5rem;
    color: black;
    margin-left: 250px;
}
img {
    margin-left: 250px
}